* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white
  }
  
body {
  background: url(../images/nycTimes-lg.jpg) no-repeat fixed;
  background-size: cover;
  background-position:top center;
}  

p {
  font-size: 16px;
  margin: 1em 2em;
  line-height: 1.5em;
  color: white;
}
  
header {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: navy;
  border-color: goldenrod;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
}

main {
  width: 80%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100%;
  margin: 5px auto;
  float: left;
  background-color: navy;
  border-color: goldenrod;
  border-style: solid;
  border-radius: 10px;
}

article {
  width: 66%;
  height: 100%;
  margin: 5px auto;
  float: left;
}

#aside {
  width: 32%;
  margin: 10px;
  float: left;
  text-align: center;
}

footer {
  bottom: 0;
  width: 100%;
  margin: 5px auto;
  clear: both;
  background-color: navy;
  border-color: goldenrod;
  border-style: solid;
  border-radius: 10px;
}

.footer p {
  text-align: center;
  margin: .5em;
}

.topnav {
  margin: 5px auto;
  background-color: navy;
  border-color: goldenrod;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.topnav a {
  font-size: 17px;
  color: aliceblue;
  float: left;
  text-align: center;
  padding: 10px 15px;
  text-decoration-line: none;
  transition: text-decoration .2s;
}

  .topnav a:hover{
    transition: color .2s;
    text-shadow: 0px 0px 10px aliceblue, 0 0 2px white;  
  }

  .topnav a:active {
    color:lightskyblue;
  }

  .topnav a.navRT{
    float: right;
  }

p.bio{
  font-size: 17px;
  text-indent: 1em;
}

p.paragraph{
  text-indent: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: .5em 1em;
}
  .header{
    font-size: 34px;
  }

  .title{
    font-size: 30px;
  }

  .chapter{
    font-size: 24px;
  }

a {
  color: aliceblue;
  text-decoration-line: none;
  transition: text-decoration .2s;
}

  a:hover {
    color: gold;
    transition: color .2s;
  }

  a:active {
    color:magenta;
  }

.profile {
  max-width: 250px;
  border-style: solid;
  border-color: goldenrod;
  border-radius: 10px;
}

#list {
  list-style-type: circle;
  margin: 1em;
  line-height: 1.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#questions, ol {
  font-size: 17px;
  list-style-type: decimal;
}

#answers, dt {
  color: aliceblue;
  font-style: italic;
  font-size: 14px;
  margin: .5em;
}

#answers, dd {
  color: white;
  font-style: normal;
  font-size: 17px;
  margin-left: 1.5em;
}

#answers, ol {
  list-style-type: lower-alpha;
  font-size: 25px;
  line-height: 1.5em;
}

#contact-us {
  background-color: aliceblue;
  max-width: 840px;
  border-radius: 1em;
}

#contact-us, p {
  text-indent: 0;
}

#career-table {
  background-color: aliceblue;
  float: left;
  margin: 10%;
  caption-side: bottom;
  text-align: center;
}

#career-table, caption {
  padding: .5em;
}

input[type=text] {
  width: 75%;
}

input[type=radio] {
  margin-left: 1.5em;
}

#message {
  width: 100%;
  height: 5em;
}

.gallery img {
  max-width: 500px;
  margin: 10px;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 10px;
}

figcaption { 
  font-size: 14px;
  text-align: center;
}

.gallery article{
  width: 80%;
  max-width: 720px;
  margin: 10px auto;
  background-color: navy;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 10px;
}

.gallery figure{ 
  float: left
}

.gallery article:nth-child(even)>figure {
  float: right;
}

section.game {
  min-height: 380px;
}

#game {
  font-size: 25px;
}

#gameDir {
  font-size: 24px;
  text-align: center;
}

button.game {
  float: right;
  height: 40px;
  width: fit-content;
  margin: 20px;
  margin-top: 180px;
  background-color: aliceblue;
  color: navy;
  border-color: white;
  border-style: outset;
  border-width: 8px;
  border-radius: 5px;
}
